<div>
  <div class="align-search">
    <div class="search-wrapper">
      <app-giphy-search
        (newItemEvent)="onEnterSearch($event)"
      ></app-giphy-search>
    </div>
  </div>
  <giphy-image-item [giphyItems]="giphyItems"></giphy-image-item>
  <div class="align-pagination">
    <mat-paginator
      [length]="length"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="getPageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
