<div>
  <mat-grid-list cols="3" rowHeight="4:1">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
      <app-giphy-search
        (newItemEvent)="onEnterSearch($event)"
      ></app-giphy-search>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
  <div *ngIf="giphyItems.length">
    <mat-grid-list cols="3" rowHeight="3:1" [gutterSize]="'5px'">
      <div *ngFor="let item of giphyItems">
        <mat-grid-tile>
          <img
            mat-card-image
            src="{{ item.images.original.url }}"
            alt="Photo of a Shiba Inu"
          />
        </mat-grid-tile>
      </div>
    </mat-grid-list>
  </div>
  <mat-grid-list cols="3" rowHeight="3:1" [gutterSize]="'5px'">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-paginator
        [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="getPageEvent($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </mat-grid-tile>
  </mat-grid-list>
</div>
